{% extends 'admin/base.html.twig' %}

{% block title %}Hello movieController!{% endblock %}

{% block body %}

<div class="row">
    <h1>Liste des movies</h1>
</div>

<div class="row">
    <a href="{{path('admin_movie_add')}}">Ajouter un movie</a>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Titre</th>
      <th scope="col">Date de création</th>
      <th scope="col">date de mise à jour</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      {% for movie in movies %}
    <tr>
      <th scope="row">{{movie.id}}</th>
      <td>{{movie.title}}</td>
      <td>{{movie.createdAt|date('Y-m-d H:i')}}</td>
      <td>{{movie.updatedAt is not null ? movie.updatedAt|date('Y-m-d H:i')}}</td>
      <td>
      <a href="{{path('admin_movie_edit',{'id':movie.id})}}">Modifier</a>
      {# -
      <a href="{{path('admin_movie_delete',{'id':movie.id})}}">Supprimer</a> #}
      </td>
    </tr>
          
      {% endfor %}

  </tbody>
</table>


{% endblock %}


